.header-bg {
  background:
    linear-gradient(rgba(100,100,100,0.6), rgba(100,100,100,0.6)),
    url("../img/serov_domo.jpg");
  );
  background-size: cover;
}

.highlight-article-digit {
  background-color: #666;
  color: white;
  padding-right: 1em;
}

.no-shadow {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.no-background {
  background-color: transparent;
}

.transparent-color {
  color: transparent;
}

.white-fg {
  color: white;
}

.action-blue-fg {
  color: #0f7ae5;
}

.quiz-inline-button {
  font-size: unset;
  line-height: unset;
  vertical-align: unset;
}
