.header-bg {
  background:
    linear-gradient(rgba(100,100,100,0.6), rgba(100,100,100,0.6)),
    url("img/serov_domo.jpg");
  );
  background-size: cover;
}
.header-fg {
  color: white;
}

.highlight-article-digit {
  background-color: #666;
  color: white;
  padding-right: 1em;
}

.zh-header-bg {
  background:
    linear-gradient(rgba(100,100,100,0.6), rgba(100,100,100,0.6)),
    url("img/zh.01.she-got-out.jpg") center;
  );
  background-size: cover;
}

.transparent-color {
  color: transparent;
}
